body{
  display: flex;
  justify-content: center;
}

.WordSection1{
  max-width: 960px;
}

.MsoNormal{
  text-align: justify;
}

.MsoNormal span:has(img){
  display: flex;
  justify-content: center;
}

.MsoNormal:has(span img) + .MsoNormal{
  display: flex;
  justify-content: center;
}
